body
{
	color:white;
	background-image: url("prism.png");
	font-family: 'Lato', sans-serif;
	background-attachment: fixed;
}
#container
{
	
	margin-left: auto;
	margin-right:auto;
	width: 1150px;
	height: 600px;
}
#menu
{
	padding:20px;
	background-color:#959da3;
	background: rgba(147,157,163,0.3);
	height:45px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	
}
#logo
{
	float:left;
	margin-top:0px;
	height: 197px;
	width:360px;
	text-align:left;
	
}
#grafika
{
	float:left;
	padding:25px;
	margin-top:10px;
	height:130px;
	width:730px;
	letter-spacing:3px;
	text-align:center;
	font-size:20px;
	
}
#klocki
{
	float:left;
	padding:12px;
	height:550px;
	width:315px;
	color:white;
	border-right:2px dotted #ffffff;
	

}
#sliderrr
{
	float:left;
	padding:5px;
	height:590px;
	width:740px;
	margin-left:10px;
	
}
#slider
{
	padding:10px;
	font-size:15px;
	text-align:center;
	height:440px;
	
	
}
#obszar1
{
	clear:both;
	color:white;
	background: rgba(90,107,120,0.3);
	margin-top: 20px;
	margin-bottom: 25px;
	height: 197px;
	
	
}
#obszar2
{
	background: rgba(90,107,120,0.3);
	color:white;
	padding:10px;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 600px;
}
#footer
{
	clear:both;
	padding:25px;
	background-color:grey;
	margin-top:10px;
	margin-bottom:30px;
	text-align:center;
	letter-spacing:1px;
}
.window
{
	
	background-color:#F9AA33;
	margin-bottom:20px;
	padding:5px;
	width:300px;
	height:92px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	font-size:25px;


}
.window:hover
{
	
	background-color:#f5b556;
	margin-bottom:20px;
	padding:5px;
	width:300px;
	height:92px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	cursor:pointer;

}

.polemenu
{
	float:left;
	width:156px;
	height:45px;
	font-size:38px;
	opacity:1;
	border-right:2px dotted #ffffff;
	text-align:center;
	
}
.polemenu:hover
{
	float:left;
	min-width:50px;
	height:45px;
	background-color:#F9AA33;
	cursor:pointer;
	
}
.guzik
{
	text-align:center;
	
}
a.linkstyle
{
	text-decoration:none;
	color:white;
	display:block;
	width:156px;
	height:45px;
	
}
a.linkstyle2
{
	text-align:center;
	text-decoration:none;
	color:white;
	display:block;
	width:300px;
	height:92px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}







