
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-flash:before { content: '\e802'; } /* '' */
.icon-graduation-cap-1:before { content: '\e803'; } /* '' */
.icon-rocket:before { content: '\e804'; } /* '' */
.icon-music:before { content: '\e805'; } /* '' */
.icon-user-add:before { content: '\e806'; } /* '' */
.icon-home-outline:before { content: '\e807'; } /* '' */
.icon-skype:before { content: '\e808'; } /* '' */
.icon-down-outline:before { content: '\e809'; } /* '' */
.icon-down-hand:before { content: '\e80a'; } /* '' */
.icon-th:before { content: '\e80b'; } /* '' */
.icon-flash-1:before { content: '\e80c'; } /* '' */
.icon-users:before { content: '\e80d'; } /* '' */
.icon-camera:before { content: '\e80e'; } /* '' */
.icon-bell:before { content: '\e80f'; } /* '' */
.icon-th-large:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */